<form [formGroup]="workoutForm" (ngSubmit)="onSubmit()" class="flex flex-col max-w-xs mx-auto">
    <mat-form-field>
      <input matInput placeholder="User Name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Workout Type" formControlName="type" required>
        <mat-option value="Running">Running</mat-option>
        <mat-option value="Cycling">Cycling</mat-option>
        <mat-option value="Swimming">Swimming</mat-option>
        <mat-option value="Yoga">Yoga</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Workout Minutes" formControlName="minutes" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!workoutForm.valid" class="mt-5">Add Workout</button>
  </form>